@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Vollkorn:wght@400;700&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vollkorn', serif;
}

body, p, span, div, button, input, textarea {
  font-family: 'PT Sans', sans-serif;
  color: #292F36;
}

input {
  color: #CDA274;
  border: none;
  border-bottom: gray 2px solid;
  background-color: transparent;
}

input:hover,
input:focus,
input:active{
  outline:none!important;
  background: none!important;
}